<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="Escc.Net">
      <section name="Proxy" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <sectionGroup name="EsccWebTeam.EastSussexGovUK">
      <section name="RemoteMasterPage" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <sectionGroup name="Escc.Web.Metadata">
      <section name="EgmsWebMetadata" type="Escc.Web.Metadata.EgmsWebMetadataSectionHandler,Escc.Web.Metadata, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="Escc.ClientDependencyFramework">
      <section name="CssFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="MediaQueries" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ScriptFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="EsccWebTeam.Data.Web">
      <section name="ContentSecurityPolicy" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <section name="exceptionless" type="Exceptionless.Configuration.ExceptionlessSection, Exceptionless"/>
  </configSections>
  <exceptionless apiKey="API_KEY_HERE"/>
  <Escc.Web.Metadata>
    <EgmsWebMetadata creator="Web Team" errorMode="On" titlePattern="{0} &amp;#8211; East Sussex County Council"/>
  </Escc.Web.Metadata>
  <EsccWebTeam.Data.Web>
    <ContentSecurityPolicy>
      <add key="Roadworks" value="script-src https://portal.roadworks.org https://www.google.com https://transportapi.com 'unsafe-inline'; style-src https://portal.roadworks.org; img-src https://portal.roadworks.org http://otile1.mqcdn.com http://d2.roadworks.org; font-src https://portal.roadworks.org" />
    </ContentSecurityPolicy>
  </EsccWebTeam.Data.Web>
      <Escc.ClientDependencyFramework>
    <CssFiles>
      <add key="RoadworksMap" value="/css/map.css" />
    </CssFiles>
    <ScriptFiles>
      <add key="RoadworksMap" value="/js/map.js" />
    </ScriptFiles>
    <MediaQueries>
    </MediaQueries>
  </Escc.ClientDependencyFramework>
  <system.web>
    <compilation targetFramework="4.6.1"/>
    <pages masterPageFile="~/masterpages/fullscreen.master">
      <controls>
        <add tagPrefix="EastSussexGovUK" namespace="EsccWebTeam.EastSussexGovUK" assembly="EsccWebTeam.EastSussexGovUK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="EastSussexGovUK" namespace="EsccWebTeam.EastSussexGovUK.MasterPages.Controls" assembly="EsccWebTeam.EastSussexGovUK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="EastSussexGovUK" tagName="Share" src="~/masterpages/controls/share.ascx" />
        <add tagPrefix="ClientDependency" namespace="Escc.ClientDependencyFramework.WebForms" assembly="Escc.ClientDependencyFramework.WebForms" />
        <add tagPrefix="Metadata" namespace="Escc.Web.Metadata" assembly="Escc.Web.Metadata" />
      </controls>
    </pages>
  </system.web>
  <!--<Escc.Net>
    <Proxy>
      <add key="Server" value=""/>
      <add key="User" value=""/>
      <add key="Domain" value=""/>
      <add key="Password" value=""/>
    </Proxy>
  </Escc.Net>-->
  <EsccWebTeam.EastSussexGovUK>
    <RemoteMasterPage>
      <add key="CacheMinutes" value="60"/>
      <add key="MasterPageControlUrl" value="https://www.eastsussex.gov.uk/masterpages/remote/control.aspx?control={0}"/>
    </RemoteMasterPage>
  </EsccWebTeam.EastSussexGovUK>
  <EsccWebTeam.Data.Web>
    <ContentSecurityPolicy>
      <add key="Roadworks" value="script-src https://portal.roadworks.org https://www.google.com https://transportapi.com 'unsafe-inline'; style-src https://portal.roadworks.org; img-src https://portal.roadworks.org otile1.mqcdn.com d2.roadworks.org; font-src https://portal.roadworks.org" />
    </ContentSecurityPolicy>
  </EsccWebTeam.Data.Web>
  <system.webServer>
    <modules>
      <add name="ExceptionlessModule" type="Exceptionless.Web.ExceptionlessModule, Exceptionless.Web" />
    </modules>
  </system.webServer>
</configuration>